body {
    background: rgb(125, 165, 210);

}

.centered-element {
    text-align: center;
}


.left-element {
    background-color: bisque;
    text-align: left;
    border: 3px solid black;
    padding-top: 4px;
    padding-left: 5%;

}

.left-element textarea
{margin-top: 10px;
background-color: rgb(244, 219, 157);    
}