body {
    background: rgb(125, 165, 210);
    align-content: center;

}
.main 
{
    width:500px;
    height:500px;
    border: 3px solid rgb(4, 2, 82);
    display:flex;
    flex-wrap:wrap;
}
.hobbies
{
    background-color: dodgerblue;
    width: 50%;
    border: 2px solid rgb(55, 101, 180);
}
.volunteer
.fears
.destination
.destination2
.childA
.childB
.childC
.childD
.childE





.centered-element {
    text-align: center;
}


.left-element {
    background-color: bisque;
    text-align: left;
    border: 3px solid black;
    padding-top: 4px;
    padding-left: 5%;

}

.left-element textarea
{margin-top: 10px;
background-color: rgb(244, 219, 157);    
}
