body {
    background: rgb(125, 165, 210);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    text-align: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 10;
    background-color: rgb(72, 105, 132);
}

#headerText {
    text-align: center;
    padding: auto;
    font-family: cursive;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
main {
    margin-top: 130px;
}

.myJourney {
    justify-content: left;
    text-align: left;
    margin-top: 10px;
}

#h2Title {
    text-align: center;
}

#quote {
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    
}

#favorite {
    text-align: center;
    background-color: blue;
    color:antiquewhite;
    font-size: 20px;
    
}

.factsAboutMe {
    display: flex;
    justify-content: space-between;
    gap: 100px
}

.factsAboutMe ul {
    text-align: left;
    margin: 0;
}

.myDestinations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px
}
.listOfPlaces {
    text-align: left;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

#mainPic{
    width : 612 px;
    height : 408 px;
}

.pictures {
   display: flex;
   transition: transform 0.8s ease-in-out;
}

.image {
    min-width: 100%;
}

#prev, #next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 10;
 }



 #prev {
    left: 8px;
 }

 #next {
    right: 8px;
 }
footer {
    text-align: center;
}